[user]
    name = Enam Mijbah Noor
    email = enammijbahnoor@gmail.com
[code]
    editor = vim
[alias]
    br = branch
    ci = commit
    co = checkout
    ff = merge --ff-only
    last = log -1 HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    ls = ls-files
    pullff = pull --ff-only --prune
    st = status
    unstage = restore --staged
    unstage2 = reset HEAD --
    who = shortlog -s --
    root = rev-parse --show-toplevel
    cleanup = "!git branch --merged | egrep -v '(\\*|master|main|prod|deploy|staging)' | xargs -n 1 -r git branch -d"
[credential]
    helper = store
[init]
    defaultBranch = main
[core]
    autocrlf = input
    pager = less -F
[push]
    autoSetupRemote = true
[merge]
    tool = meld
[mergetool "meld"]
    # Choose one of these
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

; override settings per machine
[include]
    path = .gitconfig-local
